<%= link_to 'Home', root_path %>
<% if current_user %>
<%= link_to 'Log Out', '/logout' %>
  <% @users.each do |user|%>
  <p><%= "#{user.email}"%></p>
  <% end %>
<% else %>
  <%= link_to 'Log In', '/login' %>
  <%= button_to "Create a New User", "/register", method: :get %>
<% end %>



<h1>Viewing Party</h1>



