<h1> Discover Page </h1>

<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f|%>
    <%= f.label :movie %>
    <%= f.text_field :movie %>

    <%= f.submit "Search for Movie"%>
<% end %>
<br>
<br>
<%= button_to "Top Movies", "/users/#{@user.id}/movies", method: :get, params: {q: 'top_rated'} %>
